.App {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

input,
select {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

button {
    padding: 10px 20px;
}